@model List<StudentPortal.Models.Attendance>

@{
    ViewData["Title"] = "Attendance History";

    int totalRecords = Model.Count;

    int presentCount =
    Model.Count(x => x.Status == "Present");

    int absentCount =
    Model.Count(x => x.Status == "Absent");
}

<div class="container-fluid">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h1 class="fw-bold">
            Attendance History
        </h1>

        @if (TempData["Success"] != null)
        { <div class="alert alert-success">
        @TempData["Success"] </div>
        }


        <a href="/Attendance/Index"
           class="btn btn-primary">

            ← Back To Attendance

        </a>

        <a href="/Attendance/ClearHistory"
            class="btn btn-danger">
            Clear All History
        </a>

    </div>

    <div class="row mb-4">

        <div class="col-md-4">

            <div class="card shadow border-0 rounded-4">

                <div class="card-body text-center">

                    <h6>Total Records</h6>

                    <h2 class="text-primary">
                        @totalRecords
                    </h2>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow border-0 rounded-4">

                <div class="card-body text-center">

                    <h6>Present</h6>

                    <h2 class="text-success">
                        @presentCount
                    </h2>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow border-0 rounded-4">

                <div class="card-body text-center">

                    <h6>Absent</h6>

                    <h2 class="text-danger">
                        @absentCount
                    </h2>

                </div>

            </div>

        </div>

    </div>

    <div class="card shadow-lg border-0 rounded-4">

        <div class="card-header bg-dark text-white">

            <h4 class="mb-0">
                Attendance Records
            </h4>

        </div>

        <div class="card-body">

            <div class="row mb-3">

                <div class="col-md-4">

                    <input
                        type="text"
                        id="searchBox"
                        class="form-control"
                        placeholder="Search Student..." />

                </div>

            </div>

            <div class="table-responsive">

                <table
                    class="table table-hover align-middle"
                    id="attendanceTable">

                    <thead class="table-dark">

                        <tr>

                            <th>Name</th>

                            <th>Roll No</th>

                            <th>Status</th>

                            <th>Date</th>

                        </tr>

                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @item.StudentName
                                </td>

                                <td>
                                    @item.RollNo
                                </td>

                                <td>

                                    @if(item.Status=="Present")
                                    {
                                        <span class="badge bg-success fs-6">
                                            Present
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger fs-6">
                                            Absent
                                        </span>
                                    }

                                </td>

                                <td>

                                    @item.Date.ToString(
                                    "dd MMM yyyy hh:mm tt")

                                </td>

                            </tr>
                        }

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>

<script>

document
.getElementById("searchBox")
.addEventListener("keyup",
function () {

    let value =
    this.value.toLowerCase();

    let rows =
    document.querySelectorAll(
    "#attendanceTable tbody tr");

    rows.forEach(row => {

        row.style.display =

        row.innerText
        .toLowerCase()
        .includes(value)

        ? ""

        : "none";

    });

});

</script>